[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pyfluids = "*"
coolprop = "*"
pandas = "*"
ipyparallel = "*"
pyqt5 = "*"
chiantipy = "*"
python-dotenv = "*"
ipykernel = "*"
openpyxl = "*"
colour-science = {extras = ["optional"], version = "*"}
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
